NODE_ENV=development
PORT=5000

DATABASE_URL=postgres database url
BETTER_AUTH_SECRET=iAzampvWz38O0HnjpJ4CuSqbN1T8rW3K
BETTER_AUTH_URL=http://localhost:5000 # Base URL of your app

# jwt
JWT_ACCESS_TOKEN_SECRET=YOUR ACCESS TOKEN SECRET KEY
JWT_REFRESH_TOKEN_SECRET=YOUR REFRESH TOKEN SECRET KEY
JWT_ACCESS_TOKEN_EXPIRES_IN=15m
JWT_REFRESH_TOKEN_EXPIRES_IN=7d